.width-100 {
    width: 100%;
}

.width-80 {
    width: 80%;
}

.spaced-y-1 > * + * {
    margin-top: 1rem;
}

.spaced-y-05 > * + * {
    margin-top: .5rem;
}

.p-1 {
    padding: 1rem;
}

.p-y-1 {
    padding-block: 1rem;
}

.p-y-3 {
    padding-block: 3rem;
}

.m-b-1 {
    margin-bottom: 1rem;
}

.m-l-05 {
    margin-left: .5rem;
}