.rounded-button,
.rounded-button--primary,
.rounded-button--green,
.chip,
.chip--secondary,
.chip--primary-container {
    color: inherit;
    text-decoration: none;
    transition-property: transform, opacity;
    transition-duration: .25s, .25s;
}

.rounded-button:hover,
.rounded-button--primary:hover,
.rounded-button--green:hover,
.chip:hover,
.chip--secondary:hover,
.chip--primary-container:hover {
    transform: translateY(-2px);
    opacity: .9;
}

.rounded-button:active,
.rounded-button--primary:active,
.rounded-button--green:active,
.chip:active,
.chip--secondary:active,
.chip--primary-container:active {
    transform: translateY(0);
    opacity: 1;
}

/* Rounded buttons */
.rounded-button,
.rounded-button--primary,
.rounded-button--green {
    border: none;
    border-radius: 100em;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.rounded-button--primary {
    background-color: var(--clr-primary);
    color: var(--clr-on-primary);
}

.rounded-button--green {
    background-color: var(--clr-green);
    color: var(--clr-on-green);
}

/* Square button (TODO: Rename this) */
.chip,
.chip--secondary,
.chip--primary-container {
    border: none;
    border-radius: 8px;
    padding: .4rem .6rem;
    font-weight: 500;
}

.chip--secondary {
    background-color: var(--clr-secondary);
    color: var(--clr-on-secondary);
}

.chip--primary-container {
    background-color: var(--clr-primary-container);
    color: var(--clr-on-primary-container);
}
