/* Types */

.rounded-button,
.square-button {
    color: inherit;
    text-decoration: none;
    transition-property: transform, opacity;
    transition-duration: .25s, .25s;
}

.rounded-button:hover,
.square-button:hover {
    transform: translateY(-2px);
    opacity: .9;
}

.rounded-button:active,
.square-button:active {
    transform: translateY(0);
    opacity: 1;
}

.rounded-button {
    border: none;
    border-radius: 100em;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.square-button {
    border: none;
    border-radius: 8px;
    padding: .4rem .6rem;
}

.button--primary {
    background-color: var(--clr-primary);
    color: var(--clr-on-primary);
}

.button--primary-container {
    background-color: var(--clr-primary-container);
    color: var(--clr-on-primary-container);
}

/* Colors */
.button--green {
    background-color: var(--clr-green);
    color: var(--clr-on-green);
}

.button--blue {
    background-color: var(--clr-blue);
    color: var(--clr-on-blue);
}
