/* Import components here */
@import url(./navbar.css);
@import url(./buttons.css);
@import url(./inputs.css);
@import url(./others.css);

.separator {
    height: .1px;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    margin-inline: auto;
    position: relative;
    margin-block: .5rem;
}

.separator::after {
    content: "";
    width: 5px;
    height: 5px;
    margin-inline: auto;
    position: absolute;
    top: -2px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 50px;
}

.comment {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    background-color: var(--clr-primary-container);
    color: var(--clr-on-primary-container);
    border-radius: 20px;
    border-end-start-radius: 0;
}