@import url(./buttons.css);
@import url(./inputs.css);
@import url(./details.css);

.separator {
    height: .2px;
    background-color: var(--clr-on-primary-container);
    width: 100%;
    margin-inline: auto;
    position: relative;
    margin-block: .5rem;
}

.separator::after {
    content: "";
    width: 5px;
    height: 5px;
    margin-inline: auto;
    position: absolute;
    top: -2px;
    background-color: var(--clr-on-primary-container);
    border-radius: 50px;
}

.callout {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    
    background-color: var(--clr-primary-container);
    color: var(--clr-on-primary-container);
    padding: .75rem 1rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow-1);
}