.styled-details {
    max-width: 74ch;
    margin-inline: auto;
}

.styled-details > summary {
    list-style: none;
    display: flex;
    gap: .5rem;
    align-items: center;
    user-select: none;
    transition: transform .25s linear;
}

.styled-details > summary::-webkit-details-marker {
    display: none;
}

.styled-details > summary:hover {
    transform: translateY(-1px);
    opacity: .9;
}

.styled-details[open] > summary {
    margin-bottom: .25rem;
}

.styled-details > summary:first-child::before {
    content: "";
    display: block;
    background-color: var(--clr-primary);
    mask-image: url(/src/assets/icons/chevron-right.svg);
    -webkit-mask-image: url(/src/assets/icons/chevron-right.svg);
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

.styled-details[open] > summary:first-child::before {
    transform: rotate(90deg);
}
