/* Header */
.header__image {
    width: 100vw;
    height: 200px;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, black 75%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent);
}

@media (min-width: 48rem) {
    .header {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding-block: 3rem;

        /* .container properties */
        padding-inline: var(--container-border);
    }
    
    .header__text {
        padding-inline: 0;
        max-width: 50%;
    }

    .header__phone-number {
        font-weight: 500;
        letter-spacing: 2px;
    }

    .header__image {
        width: 50%;
        height: 450px;
        border-radius: 20px;

        mask-image: linear-gradient(to bottom, black 50%, transparent);
        -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent);
    }
}

@media (min-width: 64rem) {
    .header__image {
        width: 45%;
        height: 550px;
    }
}

