.location-list {
    gap: .2rem;
}

.location-list > li {
    flex-grow: 1;
}

.location-list > li > button {
    white-space: nowrap;
    width: 100%;
}

.locations-map {
    width: 100%;
    height: 400px;
    z-index: 0;
}

@media (min-width: 48rem) {
    .location-list {
        gap: .5rem;
    }
}