google-reviews .comment {
    padding: 1rem 1.5rem;
    background-color: var(--clr-background);
    color: var(--clr-on-primary-container);
    border-radius: 20px;
    border-end-start-radius: 0;
}

google-reviews .comment__avatar {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

google-reviews .comment__star {
    width: var(--label-font-size);
    height: var(--label-font-size);
}