:root {
    --container-border: min(6%, 2rem);
}

.container {
    padding-inline: var(--container-border);
}

@media (min-width: 64rem) {
    .main-layout {
        display: grid;
        grid-template-areas:
        "main navbar"
        "main navbar"
        "footer navbar";
        
        max-width: 80rem;
        margin-inline: auto;
    }

    .navbar {
        grid-area: navbar;
        max-height: 100vh;
    }
    
    .main {
        grid-area: main;
    }
    
    .footer {
        grid-area: footer;
    }
}
