.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.list-style-none {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.bg-full-bleed {
    box-shadow: 0 0 0 100vmax var(--bg-color);
    clip-path: inset(0 -100vmax);
}

.bg-full-bleed.bg-primary-container {
    --bg-color: var(--clr-primary-container);
}